body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}

header {     
    background-color: #ffffff;
    height: 56px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.menu-topo-esquerdo {
    width: 80px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}
#menu_youtube {
    margin-right: 8px;
    padding: 10px;
    cursor: pointer;
}   
#youtube_logo {
    padding: 10px;  
}
.menu-topo-meio {
    background-color: #ffffff;
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
}
#busca {
    width: 340px;
    height: 32px;
    border: 2px solid ;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    color: #000000;
}
.menu-topo-direito {
    width: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 14px;
    background-color: #ffffff;
    cursor: pointer;

}
.siderbar-grid {
    background-color: #ffffff;
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0px;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    gap: 10px;
    /* border-right: 2px solid red; */
}
.video-grid {
    margin-left: 245px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
    /* border: 2px solid red; */
}
#imagen-5 {
    width: 88%;
    height: auto;
    margin-top: 15px;
}